<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <div style="line-height: 37px;font-size: 29px;text-align: center;font-family: simsun;margin-bottom: 37px;">行政复议申请书</div>
        <div style="font-family: '仿宋';line-height: 37px;font-size: 21px;">
            <div style="text-indent: 2em;">${apply}</div>
            <div style="text-indent: 2em;">${agent}</div>
            <div style="text-indent: 2em;">${defendant}</div>
            <div style="text-indent: 2em;">行政复议请求：${apply_request}</div>
            <div style="text-indent: 2em;">事实与理由：${facts_reasons}</div>
            <div style="text-indent: 2em;">此致</div>
            <div style="text-indent: 2em;margin-bottom: 37px;">${department}</div>
            <div style="text-align: right;">申请人：（签名或盖公章）</div>
            <div style="text-align: right;margin-right: 4em;">${date}</div>
        </div>
    </body>

</html>